# ignore all
*
*/*
**/*
.*
.*/*

# unignore needed files
!.gitignore
!__init__.py
!constants.py
!hydranet.py
!mlp.py
!pdb_pipeline.py
!preprocessing.py
!train_helpers.py
!tune_xgboost.py
!utilities.py
